.tableContainer {
  text-align: center;
}

.name {
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background: none;
}

.modalContent {
  display: flex;
  flex-direction: column;
}

thead {
  th {
    font-weight: 600 !important;
  }
}

.sorter {
  padding: 2rem;
  text-align: center;
  select {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    transition: border-color 0.3s;
  }

  label {
    font-weight: 600;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.loader,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: red;
}
